version: 2
updates:
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
    labels:
      - "dependencies"
      - "ci"

  # npm (TypeScript)
  - package-ecosystem: "npm"
    directory: "/typescript/isabella"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(ts)"
    labels:
      - "dependencies"
      - "typescript"
